body, input {
	background-color: black;
}

div {
	margin: 0 auto 0 auto;
	text-align: center;
}

.active, .inactive, #input, #the_title {
	font-family: 'Josefin Sans', sans-serif;
	color: #0F0; font-weight: 400;
	text-shadow: 1px 1px 4px #8F8, -1px -1px 4px #8F8;
}

#the_title { font-size: 64px; padding-top: 50px;}

#input {
	width: 400px;
	font-size: 36px;
}

#list {
	width: 400px;
	border: 1px solid #040;
	width: 30em;
	padding: 5px;
}

ul {
	border: 1px solid green;
	padding-left: 0px;
}

li, input {
	font-size: 36px;
	border: 1px solid green;
	padding-bottom: 10px;
}

.top {
	margin-top: 50px;
}

.check, .delete {
	height: 30px; width: 30px;
	float: right; border: 1px solid green;
	margin: 7px; line-height: .2; letter-spacing: -5px;
}
.icon {
	margin-left: -5px;

}
.check:hover { color: #9F9; text-shadow: 2px 2px 4px #FFF, -2px -2px 4px #FFF;}
.delete { margin-right: 15px; line-height: .2}
.delete:hover {color: red;	text-shadow: 2px 2px 4px #F88, -2px -2px 4px #F88;}

.inactive {color: #050; text-shadow: none;}

#warning {
	display: none;
	z-index: 1;
	font-family: 'Josefin Sans', sans-serif; font-size: 64px;
	color: #F00; font-weight: 700;
	text-shadow: 2px 2px 4px #F55, -2px -2px 4px #F55;
}
/*span {font-size: 48px}*/

